<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content class="subject-element-detail">

  <form [formGroup]="stateForm" (ngSubmit)="saveSubject()">
    <mat-form-field>
      <input matInput formControlName="title" type="text" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description" type="text" placeholder="Description">
    </mat-form-field>
    <div style="justify-content: space-between;">
      <mat-form-field class="">
        <input matInput readonly formControlName="start" [min]="today" [matDatepicker]="picker"
               (dateInput)="changeStartDate('input', $event)" (dateChange)="changeStartDate('change', $event)"
               placeholder="From">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput readonly formControlName="due" [min]="dueDateFrom" [max]="dueDateTo" [matDatepicker]="pickerDue" placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="pickerDue"></mat-datepicker-toggle>
        <mat-datepicker #pickerDue></mat-datepicker>
      </mat-form-field>
    </div>

    <div mat-dialog-actions *ngIf="!requestConfirmation">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <a mat-raised-button (click)="closeModal()">Cancel</a>
      <a mat-icon-button class="right-button" title="Delete this subject" color="warn" (click)="requestConfirmation=true">
        <mat-icon>delete_forever</mat-icon>
      </a>
    </div>
    <div mat-dialog-actions *ngIf="requestConfirmation">
      <span class="delete-confirm">Are you sure you want to <b>delete</b> ?</span>
      <a mat-raised-button class="right-button" color="warn"  (click)="confirmDelete()">Yes</a>
      <a mat-raised-button class="right-button" (click)="requestConfirmation=false">No</a>

    </div>
  </form>

</div>
