<div class="subject-container">

  <div class="button-row">
    <a mat-flat-button class="full-button" color="primary" (click)="createNewSubject()">
      <mat-icon>add</mat-icon> Propose new subject
    </a>
  </div>
  <div class="subject-loading-shade"
       *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="mat-elevation-z1" style="border-top:1px solid #DDD">
    <table mat-table #table [dataSource]="data" class="subject-table" multiTemplateDataRows
           matSort matSortActive="due" matSortDisableClear matSortDirection="asc">

      <!-- Subject Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <!-- Subject Votes count Column -->
      <ng-container matColumnDef="votes">
        <th mat-header-cell *matHeaderCellDef>Votes</th>
        <td mat-cell *matCellDef="let row">{{row.votes}}</td>
      </ng-container>

      <!-- Subject Due Column -->
      <ng-container matColumnDef="due" >
        <th mat-header-cell *matHeaderCellDef>Expires in</th>
        <td mat-cell *matCellDef="let row">{{row.expires}}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="3">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <p><b>Description:</b>{{element.description}}</p>
              <p>Created by: {{element.user.surname + ',' + element.user.name}}</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
  </div>
</div>
