/* Column Widths */
.mat-column-votes,
.mat-column-due {
  min-width: 70px;
  text-align: center;
}

.mat-column-opts{
  min-width: 90px;
  text-align: center;
}

.mat-column-title{
  width: 80%;
}


td.mat-column-star {
  width: 10px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.full-button{
  width : 100%;
  margin: 6px 2px;
}

.subject-vote{
  width: 40px;
  min-width: 40px;
  padding: 0px;
}

.subject-details{
  background: #f0f0f0;
}

.no-vote{
  border-left: 6px solid #f0f0f0;
}
.vote-positive{
  border-left: 6px solid #7dc16c;
}
.vote-negative,
.vote-positive.vote-negative{
  border-left: 6px solid #e95050;
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

tr.example-detail-row {
  height: 0;
}
