<!--The content below is only a placeholder and can be replaced.-->
<div class="header" layout-align="start center" flex>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><mat-icon>mood</mat-icon></span>

      <span>Opto! Choose wisely</span>
      <span *authenticated>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-card class="mat-elevation-z8">
  <div class="container">
    <mat-toolbar *hasRole="'ADMIN'">
      <button mat-raised-button>Meals</button>
      <button mat-raised-button>Manage</button>
    </mat-toolbar>
    <app-alerts></app-alerts>
    <router-outlet></router-outlet>
  </div>
</mat-card>
